.outerFooter {
  height: 50px;
  background-color: #000;
  opacity: 0.9;
  margin: 20px 0 0 0;
  bottom: 0;
  width: 100vw;
}

.innerFooter {
  margin: 0 auto;
  max-width: 1000px;
  color: #fff;
  text-align: center;
  padding-top: 10px
}

.github {
  margin-left: 5px;

  color: white;

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }

  &:visited {
    color: white;
  }
}
