// Header styles

.container {
  background-color: #000;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 10;
}

.textWrapper{
  opacity: 1;
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: 1080px) {
    max-width: 700px;
  }

  @media (max-width: 736px) {
    width: 90%;
  }
}

.navBar {
   display:flex;
   list-style-type:none;
   padding:0;
   justify-content:flex-end;
   margin-bottom: 0;
   margin-left: 10px;

   @media (max-width: 420px) {
     display: block;
   }
}

.leftSide {
  margin-right: auto;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 420px) {
    margin: 0 auto 5px;
    padding-top: 10px;
  }
}

.rightSide {
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 420px) {
    margin: 0 auto;

    &:last-child {
      padding-bottom: 15px;
    }
  }
}
