// Header styles
.container {
  background-color: #000;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 56px;
}

.textWrapper{
  opacity: 1;
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: 1080px) {
    max-width: 700px;
  }
}

.burgerWrapper {
  @media (min-width: 737px) {
    display: none;
  }
}

.navBar {
   display:flex;
   list-style-type:none;
   padding:0;
   justify-content:flex-end;
   margin-bottom: 0;
   margin-left: 10px;
}

.leftSide {
  margin-right: auto;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 736px) {
    margin-left: auto;
  }
}

.rightSide {
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 736px) {
    display: none;
  }
}
