.container {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 50%;
    position: relative;
    padding: 10px;
    transition: 0.3s;

    @media (max-width: 736px) {
      width: 100%;
    }

    .title {
      visibility: hidden;
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 0.5;

      .title {
        color: #c471ed;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:after {
    content: "";
    flex: auto;
  }
}
